body{
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-name: changeBackground;
    background: #3399ff;
}

.socket{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
}

.hex-brick{
  background: #ABF8FF;
  width: 30px;
  height: 17px;
  position: absolute;
  top: 5px;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 4;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.h2{
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}

.h3{
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}

.gel{
    height: 30px;
    width: 30px;	
    transition: all .3s;
    -webkit-transition: all .3s;
    position: absolute;
top: 50%;
left: 50%;
}

.center-gel{
    margin-left: -15px;
    margin-top: -15px;
    
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: 4;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.c1{
    margin-left: -47px;
    margin-top: -15px;
}

.c2{
    margin-left: -31px;
    margin-top: -43px;
}

.c3{
    margin-left: 1px;
    margin-top: -43px;
}

.c4{
    margin-left: 17px;
    margin-top: -15px;
}
.c5{
    margin-left: -31px;
    margin-top: 13px;
}

.c6{
    margin-left: 1px;
    margin-top: 13px;
}

.c7{
    margin-left: -63px;
    margin-top: -43px;
}

.c8{
    margin-left: 33px;
    margin-top: -43px;
}

.c9{
    margin-left: -15px;
    margin-top: 41px;
}

.c10{
    margin-left: -63px;
    margin-top: 13px;
}

.c11{
    margin-left: 33px;
    margin-top: 13px;
}

.c12{
    margin-left: -15px;
    margin-top: -71px;
}

.c13{
    margin-left: -47px;
    margin-top: -71px;
}

.c14{
    margin-left: 17px;
    margin-top: -71px;
}

.c15{
    margin-left: -47px;
    margin-top: 41px;
}

.c16{
    margin-left: 17px;
    margin-top: 41px;
}

.c17{
    margin-left: -79px;
    margin-top: -15px;
}

.c18{
    margin-left: 49px;
    margin-top: -15px;
}

.c19{
    margin-left: -63px;
    margin-top: -99px;
}

.c20{
    margin-left: 33px;
    margin-top: -99px;
}

.c21{
    margin-left: 1px;
    margin-top: -99px;
}

.c22{
    margin-left: -31px;
    margin-top: -99px;
}

.c23{
    margin-left: -63px;
    margin-top: 69px;
}

.c24{
    margin-left: 33px;
    margin-top: 69px;
}

.c25{
    margin-left: 1px;
    margin-top: 69px;
}

.c26{
    margin-left: -31px;
    margin-top: 69px;
}

.c27{
    margin-left: -79px;
    margin-top: -15px;
}

.c28{
    margin-left: -95px;
    margin-top: -43px;
}

.c29{
    margin-left: -95px;
    margin-top: 13px;
}

.c30{
    margin-left: 49px;
    margin-top: 41px;
}

.c31{
    margin-left: -79px;
    margin-top: -71px;
}

.c32{
    margin-left: -111px;
    margin-top: -15px;
}

.c33{
    margin-left: 65px;
    margin-top: -43px;
}

.c34{
    margin-left: 65px;
    margin-top: 13px;
}

.c35{
    margin-left: -79px;
    margin-top: 41px;
}

.c36{
    margin-left: 49px;
    margin-top: -71px;
}

.c37{
    margin-left: 81px;
    margin-top: -15px;
}

.r1{
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-delay: .2s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-delay: .2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.r2{
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-delay: .4s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-delay: .4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.r3{
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-delay: .6s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-delay: .6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.r1 > .hex-brick{
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-delay: .2s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-delay: .2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.r2 > .hex-brick{
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-delay: .4s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-delay: .4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.r3 > .hex-brick{
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-delay: .6s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-delay: .6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


@keyframes pulse{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    33%{
        -webkit-transform: scale(0.01);
        transform: scale(0.01);
    }
    
    66%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes fade{
    0%{
        background: #ABF8FF;
    }
    
    50%{
        background: #90BBBF;
    }
    
    100%{
        background: #ABF8FF;
    }
}

@-webkit-keyframes pulse{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    33%{
        -webkit-transform: scale(0.01);
        transform: scale(0.01);
    }
    
    66%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-webkit-keyframes fade{
    0%{
        background: #ABF8FF;
    }
    
    50%{
        background: #389CA6;
    }
    
    100%{
        background: #ABF8FF;
    }
}

@keyframes changeBackground{
    
    0%{
        background: #373940;
    }
    56%{
        background: #7f828d;
    }
    76%{
        background: #acafb9;
    }
    80%{
        background: white;
    }
    100%{
        background: rgb(41, 41, 95);
    }
}

/*
---------------------------------------------------------------------------------
                                MENU DESPLEGABLE
---------------------------------------------------------------------------------
*/


.msg { padding: 10px; background: #222; position: relative; }
.msg h1 { color: #fff;  }
.msg a { margin-left: 20px; background: #408814; color: white; padding: 4px 8px; text-decoration: none; }
.msg a:hover { background: #266400; }

body{
    animation-duration: 10s;
    animation-iteration-count: 1;
    font-family: Georgia; 
    color: #444;
    animation-name: changeBackground;
}

.socket{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
}

.hex-brick{
  background: #ABF8FF;
  width: 30px;
  height: 17px;
  position: absolute;
  top: 5px;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 4;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.h2{
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}

.h3{
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}

.gel{
    height: 30px;
    width: 30px;	
    transition: all .3s;
    -webkit-transition: all .3s;
    position: absolute;
top: 50%;
left: 50%;
}

.center-gel{
    margin-left: -15px;
    margin-top: -15px;
    
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: 4;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.c1{
    margin-left: -47px;
    margin-top: -15px;
}

.c2{
    margin-left: -31px;
    margin-top: -43px;
}

.c3{
    margin-left: 1px;
    margin-top: -43px;
}

.c4{
    margin-left: 17px;
    margin-top: -15px;
}
.c5{
    margin-left: -31px;
    margin-top: 13px;
}

.c6{
    margin-left: 1px;
    margin-top: 13px;
}

.c7{
    margin-left: -63px;
    margin-top: -43px;
}

.c8{
    margin-left: 33px;
    margin-top: -43px;
}

.c9{
    margin-left: -15px;
    margin-top: 41px;
}

.c10{
    margin-left: -63px;
    margin-top: 13px;
}

.c11{
    margin-left: 33px;
    margin-top: 13px;
}

.c12{
    margin-left: -15px;
    margin-top: -71px;
}

.c13{
    margin-left: -47px;
    margin-top: -71px;
}

.c14{
    margin-left: 17px;
    margin-top: -71px;
}

.c15{
    margin-left: -47px;
    margin-top: 41px;
}

.c16{
    margin-left: 17px;
    margin-top: 41px;
}

.c17{
    margin-left: -79px;
    margin-top: -15px;
}

.c18{
    margin-left: 49px;
    margin-top: -15px;
}

.c19{
    margin-left: -63px;
    margin-top: -99px;
}

.c20{
    margin-left: 33px;
    margin-top: -99px;
}

.c21{
    margin-left: 1px;
    margin-top: -99px;
}

.c22{
    margin-left: -31px;
    margin-top: -99px;
}

.c23{
    margin-left: -63px;
    margin-top: 69px;
}

.c24{
    margin-left: 33px;
    margin-top: 69px;
}

.c25{
    margin-left: 1px;
    margin-top: 69px;
}

.c26{
    margin-left: -31px;
    margin-top: 69px;
}

.c27{
    margin-left: -79px;
    margin-top: -15px;
}

.c28{
    margin-left: -95px;
    margin-top: -43px;
}

.c29{
    margin-left: -95px;
    margin-top: 13px;
}

.c30{
    margin-left: 49px;
    margin-top: 41px;
}

.c31{
    margin-left: -79px;
    margin-top: -71px;
}

.c32{
    margin-left: -111px;
    margin-top: -15px;
}

.c33{
    margin-left: 65px;
    margin-top: -43px;
}

.c34{
    margin-left: 65px;
    margin-top: 13px;
}

.c35{
    margin-left: -79px;
    margin-top: 41px;
}

.c36{
    margin-left: 49px;
    margin-top: -71px;
}

.c37{
    margin-left: 81px;
    margin-top: -15px;
}

.r1{
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-delay: .2s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-delay: .2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.r2{
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-delay: .4s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-delay: .4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.r3{
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-delay: .6s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-delay: .6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.r1 > .hex-brick{
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-delay: .2s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-delay: .2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.r2 > .hex-brick{
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-delay: .4s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-delay: .4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.r3 > .hex-brick{
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-delay: .6s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-delay: .6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


@keyframes pulse{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    33%{
        -webkit-transform: scale(0.01);
        transform: scale(0.01);
    }
    
    66%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes fade{
    0%{
        background: #ABF8FF;
    }
    
    50%{
        background: #90BBBF;
    }
    
    100%{
        background: #ABF8FF;
    }
}

@-webkit-keyframes pulse{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    33%{
        -webkit-transform: scale(0.01);
        transform: scale(0.01);
    }
    
    66%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-webkit-keyframes fade{
    0%{
        background: #ABF8FF;
    }
    
    50%{
        background: #389CA6;
    }
    
    100%{
        background: #ABF8FF;
    }
}

@keyframes changeBackground{
    
    0%{
        background: #373940;
    }
    56%{
        background: #7f828d;
    }
    76%{
        background: #acafb9;
    }
    100%{
        background: white;
    }
}

body{
    background: #3399ff;
  }
  
  
  .circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }
  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }

  body {
    padding: 0;
    margin: 0;
    background: #596778;
    color: #EEEEEE;
    text-align: center;
    font-family: "Lato", sans-serif;
 }
 
 @media screen and (max-width: 700px) {
    body {
       padding: 170px 0 0 0;
       width: 100%
    }
 }
 
 a {
    color: inherit;
 }
 
 .menu-item,
 .menu-open-button {
    background: #EEEEEE;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
 }
 
 .menu-open {
    display: none;
 }
 
 .lines {
    width: 25px;
    height: 3px;
    background: #596778;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
 }
 
 .line-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
 }
 
 .line-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
 
 .line-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
 }
 
 .menu-open:checked + .menu-open-button .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
 }
 
 .menu-open:checked + .menu-open-button .line-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
 }
 
 .menu-open:checked + .menu-open-button .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
 }
 
 .menu {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    box-sizing: border-box;
    font-size: 26px;
 }
 
 
 /* .menu-item {
    transition: all 0.1s ease 0s;
 } */
 
 .menu-item:hover {
    background: #EEEEEE;
    color: #3290B1;
 }
 
 .menu-item:nth-child(3) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
 }
 
 .menu-item:nth-child(4) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
 }
 
 .menu-item:nth-child(5) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
 }
 
 .menu-item:nth-child(6) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
 }
 
 .menu-item:nth-child(7) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
 }
 
 .menu-item:nth-child(8) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
 }
 
 .menu-item:nth-child(9) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
 }
 
 .menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
 }
 
 .menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
 }
 
 .menu-open:checked + .menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    
 }
 
 .menu-open:checked ~ .menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 180ms;
    -webkit-transition-duration: 180ms;
    -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
    transform: translate3d(0.08361px, -104.99997px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 280ms;
    -webkit-transition-duration: 280ms;
    -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
    transform: translate3d(90.9466px, -52.47586px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
    transform: translate3d(90.9466px, 52.47586px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 480ms;
    -webkit-transition-duration: 480ms;
    -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
    transform: translate3d(0.08361px, 104.99997px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(7) {
    transition-duration: 580ms;
    -webkit-transition-duration: 580ms;
    -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
    transform: translate3d(-90.86291px, 52.62064px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(8) {
    transition-duration: 680ms;
    -webkit-transition-duration: 680ms;
    -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
    transform: translate3d(-91.03006px, -52.33095px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(9) {
    transition-duration: 780ms;
    -webkit-transition-duration: 780ms;
    -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
    transform: translate3d(-0.25084px, -104.9997px, 0);
 }
 
 .blue {
    background-color: #669AE1;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .blue:hover {
    background-image: "./images/cv-icon-4.png";
    text-shadow: none;
 }
 
 .green {
    background-color: #70CC72;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .green:hover {
    color: #70CC72;
    text-shadow: none;
 }
 
 .red {
    background-color: #FE4365;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .red:hover {
    color: #FE4365;
    text-shadow: none;
 }
 
 .purple {
    background-color: #C49CDE;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .purple:hover {
    color: #C49CDE;
    text-shadow: none;
 }
 
 .orange {
    background-color: #FC913A;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .orange:hover {
    color: #FC913A;
    text-shadow: none;
 }
 
 .lightblue {
    background-color: #62C2E4;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .lightblue:hover {
    color: #62C2E4;
    text-shadow: none;
 }
 
 .credit {
    margin: 24px 20px 120px 0;
    text-align: right;
    color: #EEEEEE;
 }
 
 .credit a {
    padding: 8px 0;
    color: #C49CDE;
    text-decoration: none;
    transition: all 0.3s ease 0s;
 }
 
 .credit a:hover {
    text-decoration: underline;
 }

 .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
